.image-slider {
  position: relative;
  &__item {
    display: flex;
    justify-content: space-between;
    display: none;

    &--active {
      display: flex;
    }
  }
  &__slide {
    max-width: 27rem;
    cursor: pointer;
  }
  &__text {
    @extend %font-second;
    font-size: 3.6rem;
    line-height: 4.3rem;
    text-align: center;
    padding-top: 3.9rem;
  }
  &__link {
    text-decoration: underline;
  }
  &__control-left {
    position: absolute;
    top: 50%;
    left: -6rem;
    cursor: pointer;
    @media only screen and (max-width: $bp-big) {
      left: -4rem;
    }
  }
  &__control-right {
    position: absolute;
    top: 50%;
    right: -6rem;
    cursor: pointer;
    @media only screen and (max-width: $bp-big) {
      right: -4rem;
    }
  }
}
