.reviews {
  display: flex;
  position: relative;
  margin-top: 11.4rem;
  max-width: 56.7rem;
  &__add {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    text-decoration-line: underline;
    @media only screen and (max-width: $bp-big) {
      right: 3rem;
    }
  }
  &__content {
    position: relative;
  }
  &__quote {
    display: block;
    background-image: url(../svg/quote.svg);
    width: 41px;
    height: 26px;
    left: -5rem;
    top: -0.5rem;
    position: absolute;
    @media only screen and (max-width: $bp-big) {
      left: -4.5rem;
    }
  }
  &__name {
    font-weight: 500;
  }
  &__date {
    display: inline-flex;
    margin-left: 2.9rem;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    display: block;
    width: 19px;
    height: 35px;
    cursor: pointer;
  }
  &__arrow--left {
    background-image: url(../svg/btn-left.svg);
    left: -7rem;
    @media only screen and (max-width: $bp-big) {
      left: -4rem;
    }
  }
  &__arrow--right {
    background-image: url(../svg/btn-right.svg);
    right: 0rem;
    @media only screen and (max-width: $bp-big) {
      right: 3rem;
    }
  }
  &__text {
    max-width: 50rem;
  }
}

.rating {
  display: flex;
  margin: 1rem 0 2.3rem;
}
.star {
  background-image: url(../svg/star.svg);
  width: 1.7rem;
  height: 1.7rem;
}
