.services {
  display: flex;
  flex-direction: column;
  padding-bottom: 7rem;

  &__menu {
    padding: 5rem 0 3rem;
    width: fit-content;
  }

  &__list {
    display: flex;
  }
  &__item {
    list-style: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
  }

  &__item:not(:last-child) {
    margin-right: 9.5rem;
  }

  &__item:hover {
    border-color: #9da57c;
  }
  &__pricing {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  &__todos {
  }
  &__todo {
  }
  &__todo-item {
  }
  &__prices {
    display: flex;
  }
  &__costs {
  }
  &__cost {
    display: flex;
    justify-content: end;
  }
  &__img-2 {
    position: absolute;
    top: 24rem;
    left: 96rem;
  }
  &__img-1 {
    position: absolute;
    top: 33rem;
    left: 70rem;
    z-index: 2;
  }
  //Для скрытия в JS
  /* &__manicure {
    display: none;
  } */
}

.rub {
  /* line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid $text-color-primary;
  display: inline-block; */
  font-weight: 300;
  color: #484848;
  font-family: ui-serif;
  font-style: normal;
}
