.socials {
  margin-top: 2.7rem;
  display: flex;
}

/* .socials:not(:last-child) {
  padding-right: 1.7rem;
} */

.social-media {
  height: 2.7rem;
  width: 100%;
  max-width: 4.1rem;
  background-size: 3.6rem 2.7rem;
  background-repeat: no-repeat;
}

.social-media:not(:last-child) {
  margin-right: 1.2rem;
}

.instagram {
  background-image: url(../svg/instagram.svg);
}
.vk {
  background-image: url(../svg/vkontakte.svg);
}
.facebook {
  background-image: url(../svg/facebook.svg);
}
.mail {
  background-image: url(../svg/mail.svg);
}
