.submenu {
  display: flex;
  &__item {
    list-style: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
    &--active {
      border-color: #9da57c;
    }
  }

  &__item:hover {
    border-color: #9da57c;
  }
  &__item--services:not(:last-child) {
    margin-right: 9.5rem;
  }
}
