html {
  font-size: 62.5%; //16px = 100% always. Allow  user to change font size
  @media only screen and (max-width: $bp-medium) {
    font-size: 66.66%;
  }
}

body {
  box-sizing: border-box;
  background-color: $bc-color;
}
.content-box {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  @media only screen and (max-width: $bp-largest) {
    overflow-x: hidden;
  }
}

.container {
  width: 117rem;
  margin: 0 auto;
  @media only screen and (max-width: $bp-large) {
    width: $contaiter-large;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 99rem;
  }
}
