html {
  font-size: 62.5%; //16px = 100% always. Allow  user to change font size
}

body {
  box-sizing: border-box;
  background-color: $bc-color;
}
.content-box {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 117rem;
  margin: 0 auto;
  @media (max-width: 1270px) {
    width: calc(100vw - 7%);
  }
  /*  @media (max-width: 767px) {
    width: 70.8rem;
  }
  @media (max-width: 320px) {
    width: 29rem;
  } */
}

.flex-sb {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.ml-3 {
  margin-left: 3rem;
}

.blur {
  width: 33.5rem;
  height: 33.5rem;
  background: $bc-ovals;
  filter: blur(12.5rem);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  &-left {
    top: 16rem;
    left: 0;
  }
  &-right {
    top: 66rem;
    left: 98rem;
  }
}
