html {
  font-size: 62.5%; //16px = 100% always. Allow  user to change font size
}

body {
  box-sizing: border-box;
  background-color: $bc-color;
}
.content-box {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 117rem;
  margin: 0 auto;
  @media (max-width: 1270px) {
    width: calc(100vw - 7%);
  }
  /*  @media (max-width: 767px) {
    width: 70.8rem;
  }
  @media (max-width: 320px) {
    width: 29rem;
  } */
}
