body {
  color: $text-color-primary;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

a {
  text-decoration: none;
  color: $text-color-primary;
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.h1 {
  padding-top: 0.9rem;
  padding-bottom: 7rem;
  font-size: 8rem;
  @extend %font-second;
  font-weight: 300;
  line-height: 9.6rem;
  font-style: italic;
  &__uppercase-text {
    @extend %font-third;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
  }
}
