.main-section {
  &__description {
    max-width: 82rem;
    position: relative;
    z-index: 100;
  }

  &__oval-image {
    position: absolute;
    max-width: 62rem;
    top: 9.9rem;
    left: 57rem;
    z-index: 2;

    @media only screen and (max-width: $bp-big) {
      max-width: 57rem;
    }
  }
}

.promotions {
  padding: $pad-big;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }
}

.our-services {
  padding: $pad-big;
  position: relative;
  color: $black-color;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }
}
.certificate {
  padding: $pad-big;
  display: flex;
  position: relative;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }
}

.studios {
  padding: $pad-big;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }

  &__menu {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }
}

.portfolio {
  padding: $pad-big;
  position: relative;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }
}
.review-section {
  display: flex;
  padding: $pad-big;
  flex-direction: column;
  @media only screen and (max-width: $bp-big) {
    padding: $pad-medium;
  }

  &__text {
    width: 57%;
    //padding-right: 3.1rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
}
