.main-section {
  &__description {
    max-width: 82rem;
    position: relative;
    z-index: 100;
  }

  &__oval-image {
    position: absolute;
    max-width: 62rem;
    top: 9.9rem;
    left: 57rem;
    z-index: 2;
  }
}

.promotions {
  padding: $pad-big;
}

.our-services {
  padding: $pad-big;
  position: relative;
  color: $black-color;
}
.certificate {
  padding: $pad-big;
  display: flex;
  position: relative;
}

.studios {
  padding: $pad-big;

  &__menu {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }
}

.portfolio {
  padding: $pad-big;
  position: relative;
}
