.footer {
  padding-top: 7.4rem;
  padding-bottom: 5rem;

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      padding-right: 3rem;
    }
  }
  &__list-item {
    padding-bottom: 1.5rem;
    a:hover {
      border-bottom: 2px solid $elements-color;
      padding-bottom: 1rem;
    }
  }
  &__actions {
    display: flex;
  }
  &__get-actions {
    @extend %font-second;
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.4rem;
    max-width: 27rem;
    padding-bottom: 2.2rem;
  }
}
