.subscribe-form {
  position: relative;
  &__input {
    @extend %border-thin;
    padding: 1.2rem 1.4rem;
    width: 27rem;
    width: 100%;
    outline: none; //убираем обводку при наведении
  }

  &__btn {
    background: url("../svg/arrow.svg") no-repeat;
    width: 4.9rem;
    height: 1rem;
    border: none;
    position: absolute;
    top: 2.3rem;
    right: 2.5rem;
  }
  &__shadow-checkbox {
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0;
  }
  &__base-checkbox {
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 3rem;
    left: 0;
    cursor: pointer;
  }

  &__black-checkbox {
    background: url("../svg/check-square-light.svg") no-repeat;
  }
  &__empty-checkbox {
    background: url("../svg/square-light.svg") no-repeat;
    display: none;
  }

  &__check {
    display: block;
    position: relative;
    padding-top: 2.2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  &__link {
    border-bottom: 1px solid $black-color;
    padding-bottom: 0.05rem;
  }
}
