.header {
  padding: 3.9rem 0 8rem;
  width: 100%;
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    /* @media (max-width: 1270px) {
    display: none;
  } */
    @media (max-width: 767px) {
      display: none;
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    padding-right: 6.3rem;
    @media (max-width: 1170px) {
      padding-right: 4rem;
    }
    @media (max-width: 1024px) {
      padding-right: 2.5rem;
    }
  }

  &__link {
  }
  &__link:hover {
    border-bottom: 2px solid $elements-color;
    padding-bottom: 1rem;
  }

  &__phone {
    /* @media (max-width: 1270px) {
    display: none;
  } */
    @media (max-width: 767px) {
      display: none;
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
}
