.header {
  padding: 3.9rem 0 8rem;
}

.header-logo {
}
.header-nav {
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__item {
  list-style: none;
}

.header-nav__item:not(:last-child) {
  padding-right: 6.29rem;
}

.header-nav__link {
}
.header-nav__link:hover {
  border-bottom: 2px solid $elements-color;
  padding-bottom: 1rem;
}
