.header {
  padding: 3.9rem 0 8rem;
}

.header-logo {
}
.menu {
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  list-style: none;
}

.menu__item:not(:last-child) {
  padding-right: 6.3rem;
}

.menu__link {
}
.menu__link:hover {
  border-bottom: 2px solid $elements-color;
  padding-bottom: 1rem;
}
